{% extends '../base.html' %}
{% load static %}
{% block title %}Reset your password{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{% static 'lovelive/css/reset_password.css' %}" >
{% endblock %}

{% block content %}
<div class="password_reset_form_block">
  <a style="text-decoration:none" href="/lovelive/login"><p class="log_in_lovelive_head"> Lovelive! </p></a>
  <p class="reset_password_enter_email_instruction">Password successfully set!
    &nbsp;You can log in now :)</p>
  <a class="then_log_in" href="/lovelive/login">Log in</a>
</div>
{% endblock %}
