{% extends '../base.html' %}
{% load static %}
{% block title %}Reset your password{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{% static 'lovelive/css/reset_password.css' %}" >
{% endblock %}

{% block content %}
  <div class="password_reset_form_block">
    <a style="text-decoration:none" href="/lovelive/login"><p class="log_in_lovelive_head"> Lovelive! </p></a>
      {% if validlink %}
          <p class="reset_password_enter_email_instruction">Set your new password</p>
          <form action="" method="post">
            {% load myfilters %}
              <div style="display:none">
                  <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
              </div>
              <table class="reset_password_enter_new_input_block">
                <tr>
                  <td class="reset_password_enter_new_input_label">
                    <label for="id_new_password1">
                      <p class="reset_password_enter_new_input_label">New password:</p>
                    </label>
                  </td>
                  <td>{{ form.new_password1 |addclass:'reset_password_enter_new_input'}}</td>
                </tr>

                <tr>
                  <td>
                    <label for="id_new_password2">
                      <p class="reset_password_enter_new_input_label">Confirm password:</p>
                    </label>
                  </td>
                  <td>{{ form.new_password2 |addclass:'reset_password_enter_new_input'}}</td>
                </tr>
              </table>


              <span class="reset_password_enter_new_error">{{ form.new_password1.errors }}</span>
              <span class="reset_password_enter_new_error">{{ form.new_password2.errors }}</span>


              <input type="submit" class="reset_password_enter_new_button" value="Change my password" />


          </form>
      {% else %}
          <p class="reset_password_enter_email_instruction">Password reset unsuccessful...</p>
          <p class="reset_password_enter_email_instruction">The password reset link was invalid, <br />
          possibly because it has already been used <br /> or link is incorrect. <br />
          </p>
          <a href="{% url 'reset_password'%}"  class="forgot_password">request a new password reset</a>
      {% endif %}
    </div>
{% endblock %}
