{% extends '../base.html' %}
{% load static %}
{% block title %}Reset your password{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{% static 'lovelive/css/reset_password.css' %}" >
{% endblock %}

{% block content %}
  <div class="password_reset_form_block">
    <a style="text-decoration:none" href="/lovelive/login"><p class="log_in_lovelive_head"> Lovelive! </p></a>
    <p class="reset_password_enter_email_instruction">Enter your email to receive the password-reset link.</p>

    <form action="" method="post">
        {% load myfilters %}
        {{ form.email.errors }}

        {{ form.email|addclass:'reset_password_enter_email_input'}}

        <input type="submit" class="reset_password_enter_email_button" value="Send" />
         <div style="display:none">
            <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
        </div>
    </form>
  </div>

{% endblock %}
