{% extends 'base.html' %}

{% block content %}
<div class="outer-container">
    <div class="container">
        <div class="text-align-center">
            <h1 class="header"><a class="header-link" href="{% url 'home' %}">Grumblr</a></h1>

            <div class="message-container">
            {% if error_msg %}
                {% for msg in error_msg %}
                    <p class="error-message">{{ msg }}</p>
                {% endfor %}
            {% endif %}
            {% if form.errors %}
            <p class="error-message">
            Incorrect user name and password.
            </p>
            {% endif %}

            </div>

            {% if not request.user.is_authenticated %}
            <div class="register-form">
                <form method="POST" action="{% url 'login' %}">
                    {% csrf_token %}
                    <ul>
                        {% for field in form.visible_fields %}
                            {{ field.errors }}<li>{{ field }}</li>
                        {% endfor %}
                        <li><input type="submit" class="btn btn-primary" value="Login"></li>
                    </ul>
                </form>
            </div>
            <p class="small-message">New user?  <a class="inner-link" href="{% url 'register' %}">Register</a></p>
            <p class="small-message">Forgot password? <a class="inner-link" href="{% url 'reset_password' %}">Reset it</a>!</p>
            {% else %}
            <p class="information">You've logged in<p>
                <a class="inner-link" href="{% url 'logout' %}">Logout</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
