{% load static %}

{% if posts %}
    {% for post in posts %}
    <div id="post-list" class="post-wrapper">
        {% if post.profile.photo %}
        <img class="photo" src="{% url 'photo' post.profile.user.username %}" alt="{{ post.profile.user.username }}">
        {% else %}
        <img class="photo" src="{% static 'img/g.jpg' %}" alt="{{ post.profile.user.username }}">
        {% endif %}
        <p class="post-author"><a class="profile-link" href="{% url 'profile' post.profile.user.username %}" target="_blank">{{ post.profile.user.username }}</a><span class="post-date">{{ post.timestamp }}</span></p>
        <div class="post-content">
            <p>{{ post.text }}</p>
        </div>
        <i class="fa fa-heart" aria-hidden="true"></i><p>{{ post.likes }}</p>
    </div>
    {% endfor %}
{% endif %}
