{% load static %}

{% if posts %}
    <div id="post-list">

    </div>
    <!-- <div id="post-comment">
        <div class="content">
          <div class="comments">
            <div class="editor">
              <div class="editor-header">
                <a href='#' data-role='bold'>B</a>
                <a href='#' data-role='italic'>I</a>
                <a href='#' data-role='underline'>U</a>
                <a href='#' data-role='justifyleft'><i class="menu-left"></i></a>
                <a href='#' data-role='justifycenter'><i class="menu-center"></i></a>
                <a href='#' data-role='justifyright'><i class="menu-right"></i></a>
              </div>
              <div id="text" class="editor-content" contenteditable>
                <p>Let's make a statement!</p>
                <p>This is an italicised sentence.</p>
                <p>Very important information.</p>
              </div>
            </div>
            <div class="insert-text">
              <span class="loading">Loading...</span>
              <span class="total-comment"></span>
              <p>
                <input class="comment-submit" type="submit" value="Comment" />
              </p>
            </div>

            <div class="list-comments">
              <div>Hello!</div>
              <div>My name's Tuan Linh.</div>
            </div>
          </div>
        </div>
    </div> -->
{% endif %}
