{% extends 'base.html' %}

{% block content %}
<div class="outer-container">
    <div class="container">
        <div class="text-align-center">
            <h1 class="header"><a class="header-link" href="{% url 'home' %}">Grumblr</a></h1>

            {% if not request.user.is_authenticated %}
            <div class="register-form">
                <form method="POST" action="{% url 'register' %}">
                    {% csrf_token %}
                    <ul>
                        <div class="message-container">
                            {% if register_form.non_field_errors %}
                                {% for error in register_form.non_field_errors %}
                                    <div class="error-message">{{ error }}</div>
                                {% endfor %}
                            {% endif %}
                        </div>
                        {% for field in register_form.visible_fields %}
                            <li><div class="error-message">{{ field.errors }}</div>{{ field }}</li>
                        {% endfor %}
                        {% for field in register_form.hidden_fields %}
                            <li>{{ field }}</li>
                        {% endfor %}

                        <li><input type="submit" class="btn btn-primary" value="Join"></li>
                    </ul>
                </form>
            </div>
            <p class="small-message">Already have an account?
                <a class="inner-link" href="{% url 'login' %}">Log in</a>
            </p>
            {% else %}
            <p class="information">You've logged in<p>
                <a class="inner-link" href="{% url 'logout' %}">Logout</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
