.inner-container {
    width: 750px;
    margin: auto;
    border-radius: 12px;
    border: 2px solid palegreen;
    /*background-color: palegreen;*/
    background-color: rgba(152,251,152,0.5);
}

textarea {
    background-color: palegreen;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 12px;
    /*background-color: #f8f8f8;*/
    font-size: 16px;
    resize: none;
    width: 75%;
    height: 150px;
    margin-left: 18px;
    /*background: rgba(76, 175, 80, 0.3)*/
    background-color: rgba(255,255,255,0.9);
}

.new-post {
    margin: 7px;
    position: relative;
    /*background: rgba(76, 175, 80, 0.3)*/
    /*background-color: rgba(152,251,152,0.25);*/
}

.btn-post {
    position: absolute;
    right: 0;
    bottom: 0;
}

.post-wrapper {
    margin: 10px 25px 10px 25px;
    position: relative;

    box-sizing: border-box;
    border-radius: 12px;
    background-color: palegreen;
    border: 2px solid #ccc;
    /*background: rgba(76, 175, 80, 0.3)*/
    background-color: rgba(255,255,255,0.9);
}

.post-author {
    margin-left: 18px;
    margin-top: 7px;
    font-weight: bold;
}

.post-date {
    margin-left: 25px;
    margin-top: 7px;
    color: #AAA;
}

.post-content {
    margin: 7px 25px 10px 25px;
    margin-left: 25px;
    margin-top: 7px;
    border-radius: 7px;
    border: 2px solid white;
}

.post-content p {
    margin: 5px 7px 5px 7px;
    font-size: 15px;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

/* Side bar */
.sidebar {
    float: left;
    margin: 0px 0 0 25px;
    border-radius: 12px;
    background-color: rgba(152,251,152,0.5);
    border-radius: 12px;
    border: 2px solid palegreen;
    width: 250px;
    height: 277px;
}

.sidebar-container {
    margin: 18px;
}

.sidebar-header {
    position: relative;
}

#my-photo {
    float: left;
}

#my-name {
    margin-left: 57px;
    font-weight: bold;
}

#my-bio {
    margin-left: 57px;
    color: #FFF;
}

.friends {
    margin-top: 25px;
}

/* Sidebar-right */
.sidebar-right {
    float: right;
    margin: 0px 25px 0 0;
    border-radius: 12px;
    background-color: rgba(152,251,152,0.5);
    border-radius: 12px;
    border: 2px solid palegreen;
    width: 250px;
    height: 188px;
}

.sidebar-information {
    margin-top: 10px;
}

.sidebar-information p {
    margin-bottom: 0px;
}

.sidebar-attr {
    font-weight: bold;
}
