body {
    margin: 0;
    padding-top: 51px;
    /*min-height: 2000px;*/
}

.text-align-center {
    text-align:center;
}

.navbar {
    background-color: rgba(0,0,0,0.7);
    margin-bottom: 0px;
}

.navbar-brand {
    color: #FFF;
}

.navbar-brand:hover {
    color: #FFF;
    background-color: #AAA;
}

.navbar-nav>li>a {
    color: #FFF;
}

.navbar-nav>li>a:hover {
    background-color: #888;
}

.content {
    margin-left: 18%;
}

ul.sidebar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 60px;
    background-color: #6ab3b2;
    width: 18%;
    height: 100%;
    position: fixed;
    overflow: auto;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

ul.sidebar li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

ul.sidebar li:hover {
    /*background-color: #555;*/
    color: white;
    text-decoration: none;
}

ul.sidebar li a.active {
    background-color: #4CAF50;
    color: white;
}

ul.sidebar li {
    text-align: center;
    border-style: none;
    margin: 45px;
    border-radius: 100%;
    /*border-bottom: 1px solid #555;*/
    box-shadow: 5px 5px 10px black;
    height: 50px;
    padding: 5px;
    font-size: 16px;
    background-color: beige;
    font-weight: bold;
}

ul.sidebar h2 {
    margin-bottom: 50px;
    font-size: 36px;
}

ul.sidebar h2 a {
    color: #000;
}

ul.sidebar h2 a:hover {
    text-decoration: none;
    color: #000;
}

.detail {
    background-color: #FFF;
    margin-left:3%;
    margin-right: 71%;
    margin-top: 80px;
    height: 100%;
    border-style: groove;
}

.name {
    /*text-align: center;*/
    clear: both;
    margin-bottom: 20px;
    margin-left: 10px;
}

.information {
    font-size: 5px;
    clear: both;
    margin: 10px;
}

.information a{
    color: black;
}

.information a:hover {
    color: #cf8a05;
    text-decoration: none;
    -webkit-transition: all .3s ease-in;
	-moz-transition: all .3s ease-in;
	-o-transition: all .3s ease-in;
	-ms-transition: all .3s ease-in;
	transition: all .3s ease-in;
}

img {
    /*border-radius: 100%;*/
    height: 250px;
    /*width: 200px;*/
}
