body {
    margin: 0;
    padding-top: 51px;
    /*min-height: 2000px;*/
    background-image: url("background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.text-align-center {
    text-align:center;
}

.navbar {
    background-color: rgba(0,0,0,0.7);
    margin-bottom: 0px;
}

.navbar-brand {
    color: #FFF;
}

.navbar-brand:hover {
    color: #FFF;
    background-color: #AAA;
}

.navbar-nav>li>a {
    color: #FFF;
}

.navbar-nav>li>a:hover {
    background-color: #888;
}

.name {
    /*text-align: center;*/
    clear: both;
    margin-bottom: 20px;
    margin-left: 10px;
}

.information {
    font-size: 7px;
    clear: both;
    margin: 10px;
}

.information a{
    color: black;
}

.information a:hover {
    color: #cf8a05;
    text-decoration: none;
    -webkit-transition: all .3s ease-in;
	-moz-transition: all .3s ease-in;
	-o-transition: all .3s ease-in;
	-ms-transition: all .3s ease-in;
	transition: all .3s ease-in;
}

.name-title {
    font-family: amatic sc,cursive;
    font-size: 75px;
}

.nav-p {
    margin: auto;
    padding: 36px 0px 0px 0px;
    font-size: 18px;
    font-weight: bold;
    display: block;
    text-align: center;
}

.nav-link {
    display: block;
    color: #000;
    text-decoration: none;
}

.nav-link:hover {
    text-decoration: none;
    color: #000;
}
