body {
    margin: 0;
    padding: 0;
}

.text-align-center {
    text-align:center;
}

  /*body{margin-top:50px;}*/
.glyphicon { margin-right:10px; }
.panel-body { padding:0px; }
.panel-body table tr td { padding-left: 15px }
.panel-body .table {margin-bottom: 0px; }

.navbar {
    background-color: rgba(0,0,0,0.7);
    margin-bottom: 0px;
}

.navbar-brand {
    color: #FFF;
}

.navbar-brand:hover {
    color: #FFF;
    background-color: #AAA;
}

.navbar-nav>li>a {
    color: #FFF;
}

.navbar-nav>li>a:hover {
    background-color: #888;
}

#zhihu-abstract-text {
    color: #000;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 1.4;
}

#zhihu-abstract-link:hover {
    text-decoration: none;
}

#zhihu-abstract-text:hover {
    background-color: #DDD;
}

#zhihu-title:hover {
    color: #337ab7;
}

#zhihu {
    /*border-bottom-style: none;*/
    /*border-color: red;*/
}

ul.sidebar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 100px;
    width: 200px;
    background-color: #F1F1F1;
    width: 15%;
    height: 100%;
    position: fixed;
    overflow: auto;
}

ul.sidebar li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

ul.sidebar li a:hover {
    background-color: #555;
    color: white;
    text-decoration: none;
}

ul.sidebar li a.active {
    background-color: #4CAF50;
    color: white;
}

ul.sidebar li {
    text-align: center;
    border-bottom: 1px solid #555;
}
