.outer-container {
    margin-top: 100px;
}

.input-form {
    width: 225px;
    margin: 0px 7px 0px 7px;
}

th {
    text-align: center;
}

.finder-result {
    /*margin: auto;*/
}

.finder-td {
    padding-left: 14px;
}

.finder-th {
    padding-left: 14px;
}

.finder-table {
    margin: auto;
    margin-top: 25px;
}
