{% load staticfiles %}
/* For navbar */
.navbar {
    background-color: rgba(0,0,0,0.25);
    margin-bottom: 0px;
}

.navbar-brand {
    color: #FFF;
}

.navbar-brand:hover {
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.25);
}

.navbar-nav>li>a {
    color: #FFF;
}

.navbar-nav>li>a:hover {
    background-color: rgba(0, 0, 0, 0.25);
}

.navbar-font {
    color: palegreen;
    margin: auto;
    padding: auto;
    font-size: 25px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  background-image: url("img/background.jpg");
  margin-bottom: 60px;
  background-repeat: repeat-y;
  background-size: 100% 100%;
  background-attachment: fixed;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 20px;
  background-color: #f5f5f5;
}
.footer p {
    margin: 0;
}

.header-link {
    color: PaleGreen;
    text-decoration: none;
}

.header-link:hover {
    color: white;
    text-decoration: none;
}

.inner-link {
    color:#00FFFF;
    color: aquamarine;
}

.inner-link:hover {
    color: white;
}

.outer-container {
    margin-top: 50px;
}

.text-align-center {
    text-align: center;
}

.header {
    text-align: center;
    margin-top: 77px;
    color: PaleGreen;
    font-size: 60px;
    font-weight: bold;
    font-family: "Comic Sans MS", cursive, sans-serif;
}


.photo {
    height: 66px;
    width: 66px;
    float: left;
    margin: 7px 7px 0 0 ;
}

.fa {
    float: left;
    margin: 0 7px 7px 0px;
}

.profile-link {
    text-decoration: none;
    color: black;
}

.profile-link:hover {
    color: aquamarine ;
}


/*Register*/
.register-form form ul {
    padding: 0px;
    margin-top: 36px;
    list-style-type: none;
}

.register-form form ul li {
    border: 5px;
    margin-top: 25px;
}

.register-form form ul li input {
    width: 250px;
}

.error-message {
    margin: 0px;
    color: red;
    font-size: 18px;
}

.message-container {
    height: 25px;
}

.introduction-p {
    text-align: center;
    color: white;
    font-size: 25px;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.introduction {
    margin-top: 66px;
}

.information {
    color: white;
    text-align: center;
    font-size: 25px;
}

.small-message {
    color: white;
    text-align: center;
}

.slogan {
    text-align: center;
    font-size: 25px;
}

.account-content {
    text-align: center;
    margin-top: 100px;
    color: palegreen;
}
