.inner-container {
    width: 750px;
    margin: auto;
    border-radius: 12px;
    border: 2px solid palegreen;
    background-color: rgba(152,251,152,0.5);
}

.post-text {
    background-color: palegreen;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 12px;
    font-size: 16px;
    resize: none;
    width: 75%;
    height: 150px;
    margin-left: 18px;
    background-color: rgba(255,255,255,0.9);
}

.new-post {
    margin: 7px;
    position: relative;
}

.btn-post {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100px;
    margin:0 18px 5px 0;
}

.post-wrapper {
    margin: 10px 25px 10px 25px;
    position: relative;

    box-sizing: border-box;
    border-radius: 12px;
    background-color: palegreen;
    border: 2px solid #ccc;
    background-color: rgba(255,255,255,0.9);
}

.post-author {
    margin-left: 18px;
    margin-top: 7px;
    font-weight: bold;
}

.post-date {
    margin-left: 25px;
    margin-top: 7px;
    color: #AAA;
}

.post-content {
    margin: 7px 25px 10px 70px;
    border-radius: 7px;
    border: 2px solid white;
}

.post-content p {
    margin: 5px 7px 5px 7px;
    font-size: 15px;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

/* Side bar */
.sidebar {
    float: left;
    margin: 0px 0 0 25px;
    border-radius: 12px;
    background-color: rgba(152,251,152,0.5);
    border-radius: 12px;
    border: 2px solid palegreen;
    width: 250px;
    height: 277px;
}

.sidebar-container {
    margin: 18px;
}

.sidebar-header {
    position: relative;
    height: 77px;
}

.my-name {
    font-size: 25px;
    color: PaleGreen;
    margin-left: 77px;
    font-weight: bold;
}

.my-bio {
    position: absolute;
    bottom: 0;
    margin-left: 77px;
    margin-bottom: 0px;
    color: #FFF;
}

.friends {
    margin-top: 25px;
}

/* Sidebar-right */
.sidebar-right {
    float: right;
    margin: 0px 25px 0 0;
    border-radius: 12px;
    background-color: rgba(152,251,152,0.5);
    border-radius: 12px;
    border: 2px solid palegreen;
    width: 250px;
    height: 188px;
}

.sidebar-information {
    padding-top: 25px;
}

.sidebar-information p {
    margin-bottom: 0p18
    font-size: 18px;
}

.sidebar-attr {
    font-weight: bold;
}

.edit-profile li {
    margin-top: 25px;
}

.edit-profile p {
    font-size: 18px;
    margin: 0px;
    /*float: left;*/
}

.edit-btn {
    margin-top: 25px;
}

.edit-profile-input {
    width: 250px;
}

.edit-profile-photo {
    float: right;
    position: absolute;
    right: 50px;
    top: 50px;
    width: 200px;
    height: 200px;
}

.edit-profile-container {
    position: relative;
}

.bio {
    font-weight: bold;
    font-size: 18px;
}

.change-password-ul {
    list-style: none;
}

.change-password-ul {
    margin-top: 7px;
}

.change-password-container {
    margin-top: 50px;
}

.change-password-btn {
    margin-top: 7px;
}
