{% extends "about/about_base.html" %}
{% load staticfiles %}

{% block content %}

<div class='detail'>
    <!-- <div class='container'> -->
    <div class='name'>
        <h2>Xinghao Zhou</h2>
        <img src='{% static "img/me.jpg" %}'/>
    </div>
    <div class='information'>
        <i class="fa fa-github fa-4x"><a href='https://github.com/Xinghaoz'>Github</a></i>
    </div>
    <div class='information'>
        <i class="fa fa-facebook-official fa-4x"><a href='https://www.facebook.com/profile.php?id=100010153695374'>Facebook </a></i>
    </div>
    <div class='information'>
        <i class="fa fa-linkedin-square fa-4x"><a href='https://www.linkedin.com/in/xinghaoz'>LinkedIn</a></i>
    </div>
    <div class='information'>
        <i class="fa fa-envelope-o fa-4x">zhou.xinghao.1991@gmail.com</i>
    </div>

</div>

{% endblock %}
