{% extends "about/about_base.html" %}
{% load staticfiles %}



{% block content %}
<head>
<title>Xinghao Zhou - Resume</title>

<!-- <meta name="viewport" content="width=device-width"/>
<meta name="description" content="The Curriculum Vitae of Joe Bloggs."/>
<meta charset="UTF-8"> -->

<link type="text/css" rel="stylesheet" href={% static 'css/resume.css' %}>
<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>

<div class='content'>
    <div id="cv" class="instaFade">
    	<div class="mainDetails">
    		<div id="headshot" class="quickFade">
    			<img src='{% static "img/me.jpg" %}' alt="Xinghao Zhou" />
    		</div>

    		<div id="name">
    			<h1 class="quickFade delayTwo">Xinghao Zhou</h1>
    			<h2 class="quickFade delayThree">Software Developer</h2>
                <!-- <button type="button" onclick="hide()">Try it</button> -->
    		</div>

    		<div id="contactDetails" class="quickFade delayFour">
    			<!-- <ul>
    				<li>e: <a href="mailto:zhou.xinghao.1991@gmail.com" target="_blank">zhou.xinghao.1991@gmail.com</a></li>
    				<li>w: <a href="http://www.thinkhowblog.com">www.thinkhowblog.com</a></li>
    				<li>m: +1 650-625-7120</li>
    			</ul> -->
                <div class='information'>
                    <i class="fa fa-envelope-o fa-4x"><a href="mailto:zhou.xinghao.1991@gmail.com" target="_blank">       zhou.xinghao.1991@gmail.com</a></i>
                </div>
                <div class='information'>
                    <i class="fa fa-home fa-4x">       5557 Hobart Street, Pittsburgh, PA</i>
                </div>
                <div class='information'>
                    <i class="fa fa-phone fa-4x">       +1 650-625-7120</i>
                </div>
                <div class='information'>
                    <i class="fa fa-linkedin-square fa-4x"><a href='https://www.linkedin.com/in/xinghaoz' target='_blank'>       LinkedIn</a></i>
                </div>
                <div class='information'>
                    <i class="fa fa-github fa-4x"><a href='https://github.com/Xinghaoz' target='_black'>       Github</a></i>
                </div>
                <div class='information'>
                    <i class="fa fa-facebook-official fa-4x"><a href='https://www.facebook.com/profile.php?id=100010153695374' target='_blank'>       Facebook</a></i>
                </div>
    		</div>
    		<div class="clear"></div>
    	</div>

    	<div id="mainArea" class="quickFade delayFive">
            <section>
    			<div class="sectionTitle">
    				<h1>Education</h1>
    			</div>

    			<div class="sectionContent">
    				<h2>Carnegie Mellon Universiy, USA</h2>
    				<p class="subDetails">Master of Science</p>
                    <p class="date">2015.9 – Expected 2016.12</p>
                    <div class="clear"></div>
    				<p>Major: Electrical and Computer Engineering</p>

    				<h2>University of Electronic Science and Technology of China (UESTC), Chengdu, China</h2>
    				<p class="subDetails">Bachelor of Engineering</p>
                    <p class="date">2011.9 – 2015.7</p>
                    <div class="clear"></div>
    				<p>Major: Communication Engineering</br>GPA: 3.86/4.0</p>
    			</div>
    			<div class="clear"></div>
    		</section>

            <section>
    			<div class="sectionTitle">
    				<h1>Key Skills</h1>
    			</div>

    			<div class="sectionContent">
    				<ul class="keySkills">
    					<li>Java</li>
    					<li>Python</li>
    					<li>Django</li>
                        <li>HTML</li>
    					<li>CSS</li>
    					<li>Javascript</li>
    					<li>Scala</li>
    					<li>MySql</li>
                        <li>MongoDB</li>
                        <li>C++</li>
                        <li>C</li>
    				</ul>
    			</div>
    			<div class="clear"></div>
    		</section>

            <section>
    			<div class="sectionTitle">
    				<h1>Project Experience</h1>
                    <div class="checkbox">
                        <label><input id="python" type="checkbox" checked="checked" value="python"> Python</label>
                    </div>
                    <div class="checkbox">
                        <label><input id="java" type="checkbox" checked="checked" value="java"> Java</label>
                    </div>
                    <div class="checkbox">
                        <label><input id="spark" type="checkbox" checked="checked" value="spark"> Spark</label>
                    </div>
                    <div class="checkbox">
                        <label><input id="django" type="checkbox" checked="checked" value="django"> Django</label>
                    </div>
                    <div class="checkbox">
                        <label><input id="frontend" type="checkbox" checked="checked" value="frontend"> FrontEnd</label>
                    </div>
                    <div class="checkbox">
                        <label><input id="backend" type="checkbox" checked="checked" value="backend"> BackEnd</label>
                    </div>
                    <!-- <button type="button" onclick="hide()">Try it</button> -->
    			</div>

    			<div class="sectionContent">
                    <article class="spark">
    					<h2 class="projectTitle"><a href="https://github.com/Xinghaoz/thinkhow" target="_blank">Building Personal Website by Django (www.thinkhowblog.com)</a></h2>
    					<p class="date">2016.07 – Present</p>
                        <div class="clear"></div>
                        <div class="projectDetail">
                            <ul>
                                <li><p>Based on Django, built my personal website from scratch and used uWSGI and Nginx to deployed it in AWS EC2 instance</p></li>
                                <li><p>Used Scrapy to crawl the contents from the websites that I often visit, applied Splash to execute and parse the Javascript when necessary.</p></li>
                                <li><p>Used Jquery and some Bootstrap in the front end. There is a "cool" resume in the website.</p></li>
                            </ul>
                        </div>
    				</article>

    				<article class="spark">
    					<h2 class="projectTitle"><a href="https://github.com/Xinghaoz/MovieRecommendationSystem" target="_blank">Movie Recommendation System Implemented By Using Spark</a></h2>
    					<p class="date">2016.03 – 2016.04</p>
                        <div class="clear"></div>
                        <div class="projectDetail">
                            <ul>
                                <li><p>Based on the rating of the users, analyze the potential relationship between the movies. Then using the result to make some recommendations to the users according to their interests or after they watched or rated some kinds of movies.</p></li>
                                <li><p>Using over 500 000 user’s rating of movies from Movielen as the data sample, divided it into training set, validation set and test set. Applied ALS algorith and AWS EMR to run Spark to analyze these sets of data.</p></li>
                            </ul>
                        </div>
    				</article>

    				<article class="backend frontend">
    					<h2 class="projectTitle"><a href="https://bitbucket.org/kellogg92/p2p3" target="_blank">P2P Application – Peer to Peer Pair Programming</a></h2>
    					<p class="date">2016.02 – 2016.05</p>
                        <div class="clear"></div>
                        <div class="projectDetail">
                            <ul>
                                <li><p>Built an collaborative coding tool which enabled multiple users to edit the same file concurrently upon a Peer-to-peer network, using Rust as the implementation language.</p></li>
                                <li><p>Structured the network as a ring. All the nodes and objects could be accessed through a 128-bit GUIDs which generated by SHA-1 hash. Applied Pastry, a prefix routing approach as the routing algorithm.</p></li>
                                <li><p>Implemented woot, which is an algorithm that inherently ensures reliable merge of documents.</p></li>
                                <li><p>Provided the support for online compiling of some languages (C, C++, Lua, Python, and Ruby.)</p></li>
                            </ul>
                        </div>
    				</article>

    				<article class="java backend">
    					<h2 class="projectTitle"><a href="https://github.com/gavinhub/MessagePasser" target="_blank">Distributed System Communications Infrastructure</a></h2>
    					<p class="date">2016.02 – 2016.03</p>
                        <div class="clear"></div>
                        <div class="projectDetail">
                            <ul>
                                <li><p>Developed an abstraction of the interprocess communication mechanisms that would allow for fine grained testing and control of message passing between well-defined processes in a distributed system.</p></li>
                                <li><p>Developed facilities to track events using Logical Clocks (Lamport’s Logical Clocks) and Vector Clocks (Colin Fidge’s Theory) and created a centralized logger for a distributed system.</p></li>
                                <li><p>Separated nodes into several groups, then implemented reliable, causal-ordered multicast messaging among nodes in the same group.</p></li>
                                <li><p>Implemented Mutual Exclusion by using Maekawa’s Algorithm.</p></li>
                            </ul>
                        </div>
                    </article>

                    <article class="spark">
    					<h2 class="projectTitle">Iterative Programming with Spark</h2>
    					<p class="date">2015.11 - 2015.12</p>
                        <div class="clear"></div>
                        <div class="projectDetail">
                            <ul>
                                <li><p>Found the number of edges and vertices as well as the number of followers for each user in the Twitter social graph, then used these parameters to rank the influence of each user by running an iterative computation with Spark on AWS Elastic MapReduce, using the Pagerank algorithm.</p></li>
                                <li><p>Pagerank details: The initial value of the rank of each one was 1. The damping factor was set to be 0.85. Dangling users (users who didn’t follow anyone) had been taken into account. Run 10 iterations in total.</p></li>
                            </ul>
                        </div>
                    </article>

                    <article class="java frontend backend">
    					<h2 class="projectTitle">AWS-Based Tweeter Analytics Web Service</h2>
    					<p class="date">2015.9 - 2015.12</p>
                        <div class="clear"></div>
                        <div class="projectDetail">
                            <ul>
                                <li><p>Explored a large scale data set including all tweets in Twitter, which was a big data consisting of 2 billion tweets and occupying over 1 TB storage.</p></li>
                                <li><p>Designed and Implemented tweets-analytical RESTful APIs that can handled up to 6 kinds of users’ requests using Java servlet, achieving the throughput of 15,000 request/m on average.</p></li>
                                <li><p>Used partition, modified cache and refined the schema to optimize the MySQL database in order to get faster responses.</p></li>
                            </ul>
                        </div>
                    </article>
    			</div>
    			<div class="clear"></div>
    		</section>

    		<section>
    			<div class="sectionTitle">
    				<h1>Personal Profile</h1>
    			</div>

    			<div class="sectionContent">
    				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dolor metus, interdum at scelerisque in, porta at lacus. Maecenas dapibus luctus cursus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies massa et erat luctus hendrerit. Curabitur non consequat enim. Vestibulum bibendum mattis dignissim. Proin id sapien quis libero interdum porttitor.</p>
    			</div>
    			<div class="clear"></div>
    		</section>

    	</div>
    </div>
</div>
{% endblock %}
