{% load staticfiles %}
{% load crispy_forms_tags %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="{% static 'img/X.jpg' %}">
        {% block head %}
        {% endblock %}

        {% include "head_css.html" %}

    </head>

    <body>
        {% include "navibar.html" %}
        {% block jumbotron %}
        {% endblock %}

        {% block content %}
        {% endblock %}


        <div class='container'>
            <div class='block'>
                {% block bilibili %}
                {% endblock %}
            </div>

            <div class='block'>
                {% block zhihu %}
                {% endblock %}
            </div>

            <div class='block'>
                {% block series %}
                {% endblock %}
            </div>

        </div>

        {% block test %}
        {% endblock %}

        {% block footer %}
        {% endblock %}


        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
        <!-- <script src="../../dist/js/bootstrap.min.js"></script> -->
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/home.js' %}"></script>
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <!-- <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script> -->
    </body>
</html>
