{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}

<style>
{% block style %}
.navbar-static-top {
    margin-bottom: 1px !important;
}


.jumbotron {
    /*background-color: #0E3D14;*/
    margin-bottom: 1;
}
{% endblock %}



</style>


{% block jumbotron %}
<!-- Main component for a primary marketing message or call to action -->
<!-- <div class='jumbotron' margin-bottom='1px' style='background-color: #aeb7ff'> -->
<div class='jumbotron' margin-bottom='1px' style='background-color: #ffffff'>
    <div class='container'>
        <div class='row'>
            <div class='col-xs-6'>
                <h1>ThinkHow</h1>
                <p>This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
                <p>To see the difference between static and fixed top navbars, just scroll.</p>
                <p>
                <a class='btn btn-lg btn-primary'role='button'>View navbar docs &raquo;</a>
                </p>
            </div>
            <div class='col-xs-6'>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/_WEMtYj2pJc" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div> <!-- /container -->
</div>
{% endblock %}

{% block content %}
<div class='row'>
    <div class='jumbotron' style='background-color: #ffffff'>
        <div class='container'>
            <div class='col-xs-3'>
                <p class='lead text-align-center'>I am the iron hand of justice</p>
                <img src='{% static "img/kanade1.jpg" %}' class='img-responsive'/>
            </div>
            <div class='col-xs-3'>
                <p class='lead text-align-center'>The unseen blade is the deadilest<br/><br/>
                    <i class="fa fa-spinner fa-pulse fa-5x fa-fw"></i>
                    <span class="sr-only">Loading...</span>
                </p>
            </div>
            <div class='col-xs-3'>
                <label class="checkbox-inline">
                  <input type="checkbox" id="inlineCheckbox1" value="option1"> Bilibili
                </label>
                <label class="checkbox-inline">
                  <input type="checkbox" id="inlineCheckbox2" value="option2"> 知乎
                </label>
                <label class="checkbox-inline">
                  <input type="checkbox" id="inlineCheckbox3" value="option3"> Youtube
                </label>
            </div>
            <div class='col-xs-3'>
                <h1 class='text-align-center'>{{ title }}</h1>

                <form method='POST' action=''>{% csrf_token %}
                    {{ form|crispy }}
                    <input class='btn btn-primary' type='submit' value='Sign Up'>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block zhihu %}
    <div class='page-header'>
        <a id='zhihu-title' href="http://www.zhihu.com"><img src='{% static "img/zhihu.jpeg" %}'/></a>
        <!-- <h1>知乎</h1> -->
    </div>
    {% for instance in queryset %}
    <div class='well' style='margin-bottom: 10px; padding-top: 5px; padding-bottom: 5px'>
        <h5 style='margin: 1px;'> 来自话题：{{ instance.category }} </h5>
        <h3 style='margin-top: 5px'><a id='zhihu-title' href="{{ instance.url }}" target='_blank'>{{ instance.title }}</a></h3>
        <a id='zhihu-abstract-link' href="{{ instance.url }}" target='_blank'><h4><p id='zhihu-abstract-text'>{{ instance.abstract }}</p></h4></a>
    </div>
    {% endfor %}
{% endblock %}

{% block sidebar %}
{% include "sidebar.html" %}
{% endblock %}

{% block footer %}
    <footer class="footer">
      <div class="container">
        <p class="text-muted">Place sticky footer content here.</p>
      </div>
    </footer>
{% endblock %}

{% block test %}
{% endblock %}
