{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block jumbotron %}
<!-- Main component for a primary marketing message or call to action -->
<!-- <div class='jumbotron' margin-bottom='1px' style='background-color: #aeb7ff'> -->
<div class='jumbotron' margin-bottom='1px' style='background-color: #FFFFFF;'>
    <div class='container'>
        <div class='row'>
            <div class='col-xs-6'>
                <h1 style='text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;'>ThinkHow</h1>
                <p>This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
                <p>To see the difference between static and fixed top navbars, just scroll.</p>
                <p>
                <a class='btn btn-lg btn-primary'role='button'>View navbar docs &raquo;</a>
                </p>
            </div>
            <div class='col-xs-6'>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/_WEMtYj2pJc" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div> <!-- /container -->
</div>
{% endblock %}

{#% block content %}
<div class='row' style='margin: 0px;'>
    <div class='jumbotron' style='background-color: #ffffff'>
        <div class='container'>
            <div class='col-xs-3'>
                <p class='lead text-align-center'>I am the iron hand of justice</p>
                <img src='{% static "img/kanade1.jpg" %}' class='img-responsive'/>
            </div>
            <div class='col-xs-3'>
                <p class='lead text-align-center'>The unseen blade is the deadilest<br/><br/>
                    <i class="fa fa-spinner fa-pulse fa-5x fa-fw"></i>
                    <span class="sr-only">Loading...</span>
                </p>
            </div>
            <div class='col-xs-3'>
                <label class="checkbox-inline">
                  <input type="checkbox" id="inlineCheckbox1" value="option1"> Bilibili
                </label>
                <label class="checkbox-inline">
                  <input type="checkbox" id="inlineCheckbox2" value="option2"> 知乎
                </label>
                <label class="checkbox-inline">
                  <input type="checkbox" id="inlineCheckbox3" value="option3"> Youtube
                </label>
            </div>
            <div class='col-xs-3'>
                <h1 class='text-align-center'>{{ title }}</h1>

                <form method='POST' action=''>{% csrf_token %}
                    {{ form|crispy }}
                    <input class='btn btn-primary' type='submit' value='Sign Up'>
                </form>
            </div>
        </div>
    </div>
</div>
{#% endblock %}

{% block bilibili %}
<div class='page-header'>
    <div class='logo'>
        <a href="http://www.bilibili.com" target='_blank'><img src='{% static "img/bilibili.gif" %}' alt='Bilibili' style='width:131.5px;height:77px;'/></a>
    </div>
    <ul class='switcher'>
        <li id='animation-btn' class='btn-active'>Animation</li>
        <li id='game-btn'>Game</li>
    </ul>
    <i id='bangumi-refresh' class='fa fa-refresh fa-3x' aria-hidden='true'></i>
</div>
<div class='clear'></div>
<ul class='bangumi-list'>
    {% for instance in bangumi %}
    <li>
        <a href={{ instance.url }} target='_blank'><img src={{ instance.img }} alt='bangumi' style='width:77px;height:77px;'/></a>
        <a href={{ instance.url }} target='_blank'><p>{{ instance.title }}</p></a>
        <p class='align-bottom'>更新至：{{ instance.category }}</p>
        <div class='clear'></div>
    </li>
    {% endfor %}
</ul>
<ul class='game-list' style='display: none'>
    {% for instance in game %}
    <li>
        <a href={{ instance.url }} target='_blank'><img src={{ instance.img }} alt='bangumi' style='width:77px;height:77px;'/></a>
        <a href={{ instance.url }} target='_blank'><p>{{ instance.title }}</p></a>
        <p class='align-bottom'>Up主：{{ instance.up }}</p>
        <div class='clear'></div>
    </li>
    {% endfor %}
</ul>
{% endblock %}

{% block zhihu %}
<div class='page-header'>
    <div class='logo'>
        <a href="http://www.zhihu.com"><img src='{% static "img/zhihu.jpeg" %}'/></a>
        <i id='zhihu-refresh' class='fa fa-refresh fa-3x' aria-hidden='true'></i>
    </div>
</div>
<ul class='zhihu-list'>
    {% for instance in zhihu %}
    <div class='well'>
        <div class='side-photo'>
            <img src="{{ instance.img }}" style='height:50px;width:50px;'/>
        </div>
        <div class='zhihu-content'>
            <h5 style='margin: 1px; color: #AAA;'> 来自话题：{{ instance.category }} </h5>
            <h4 style='margin-top: 5px'><a id='zhihu-title' href="{{ instance.url }}" target='_blank'>{{ instance.title }}</a></h4>
            <a id='zhihu-abstract-link' href="{{ instance.url }}" target='_blank'>
                <p id='zhihu-abstract-text'>{{ instance.abstract }}</p>
            </a>
        </div>
    </div>
    <div class='clear'></div>
    {% endfor %}
</ul>
{% endblock %}

{% block series %}
<div class='page-header'>
    <div class='logo'>
        <img src='{% static "img/TVseries.jpg" %}' alt='Bilibili' style='width:131.5px;height:77px;'/>
    </div>
    <i id='bangumi-refresh' class='fa fa-refresh fa-3x' aria-hidden='true'></i>
</div>
<div class='clear'></div>
<ul class='tv-list'>
    <li>
        <p class='tv-header'>Walking Dead</p>
        <img src='{% static "img/Daryl.jpg" %}' style='width:263.671875px; height:150px;'/>
    </li>
    <li>
        <p class='tv-header'>Game Of Thrones</p>
        <img src='{% static "img/GameOfThrones.jpg" %}' style='width:263.671875px; height:150px;'/>
    </li>
    <li>
        <p class='tv-header'>Game Of Thrones</p>
        <img src='{% static "img/GameOfThrones.jpg" %}' style='width:263.671875px; height:150px;'/>
    </li>
    <!-- When the number of item is 4, it becomes a mess!!!! -->
    <!-- <li>
        <p class='tv-header'>Game Of Thrones</p>
        <img src='{% static "img/GameOfThrones.jpg" %}' style='width:263.671875px; height:150px;'/>
    </li> -->
</ul>
{% endblock %}

{% block sidebar %}
{% include "sidebar.html" %}
{% endblock %}

{% block footer %}
    <footer class="footer">
      <div class="container">
        <p class="text-muted">Place sticky footer content here.</p>
      </div>
    </footer>
{% endblock %}

{% block test %}
{% endblock %}
