{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
{% include "about/sidebar.html" %}
<div class='content'>
    <h1 class="name-title text-align-center">Hi! I am Xinghao Zhou</h2>
    <div class='detail'>
        <!-- <div class='container'> -->
        <div class='name'>
            <!-- <h2 class="name-title">Xinghao Zhou</h2> -->
            <img class="my-photo" src='{% static "img/me.jpg" %}'/>
        </div>
        <div class='information'>
            <i class="fa fa-github fa-4x"><a href='https://github.com/Xinghaoz' target='_black'>Github</a></i>
        </div>
        <div class='information'>
            <i class="fa fa-facebook-official fa-4x"><a href='https://www.facebook.com/profile.php?id=100010153695374' target='_blank'>Facebook </a></i>
        </div>
        <div class='information'>
            <i class="fa fa-linkedin-square fa-4x"><a href='https://www.linkedin.com/in/xinghaoz' target='_blank'>LinkedIn</a></i>
        </div>
        <div class='information'>
            <i class="fa fa-envelope-o fa-4x">zhou.xinghao.1991@gmail.com</i>
        </div>
    </div>
</div>
<div id="example"></div>
{% endblock %}

{% block js %}
<script src="{% static 'js/react.js' %}"></script>
<script src="{% static 'js/react-dom.js' %}"></script>
<script src="{% static 'js/browser.min.js' %}"></script>

<!-- <script type="text/babel" src="{% static 'js/test.js' %}"></script> -->

{% endblock %}
