{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block content %}
<div class="container">
    {% for comment in comments %}
        {% if not comment.private %}
            <p>{{ comment.full_name }} {{ comment.timestamp }}</p>
            <p>{{ comment.comment }}</p>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}


{% block footer %}
    <footer class="footer">
      <div class="container">
        <p class="text-muted text-align-center">I don't know what to put in the footer, but I know I need it.</p>
      </div>
    </footer>
{% endblock %}

{% block test %}
{% endblock %}
