{% load staticfiles %}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Web Application Development HW2">
    <meta name="author" content="Xinghao Zhou">
    <!-- <link rel="icon" href="../../favicon.ico"> -->

    <!-- <link href="{% static 'css/sticky-footer.css' %}" rel="stylesheet"> -->

    <link href="{% static 'css/calculator.css' %}" rel="stylesheet">
</head>

<body>
    <div class="calculator-container">
        <div class="button-container">
            <form method="POST">
                {% csrf_token %}
                <div class="result">
                    <div class="calculator-message">
                        {% if message %}
                            {{ message }}
                        {% endif %}
                    </div>
                    <p class="result-number">
                        {% if number %}
                            {{ number }}
                        {% else %}
                            0
                        {% endif %}
                    </p>
                </div>
                <ul class="calculator-list">
                    <li><button class="calculator-button calculator-botton-number" name="number" value="{{ result }}7">7</button></li>
                    <li><button class="calculator-button calculator-botton-number" name="number" value="{{ result }}8">8</button></li>
                    <li><button class="calculator-button calculator-botton-number" name="number" value="{{ result }}9">9</button></li>
                    <li><button class="calculator-button calculator-botton-operator" name="operator" value="{{ result }}+">&plus;</button></li>
                    <li><button class="calculator-button calculator-botton-number" name="number" value="{{ result }}4">4</button></li>
                    <li><button class="calculator-button calculator-botton-number" name="number" value="{{ result }}5">5</button></li>
                    <li><button class="calculator-button calculator-botton-number" name="number" value="{{ result }}6">6</button></li>
                    <li><button class="calculator-button calculator-botton-operator" name="operator" value="{{ result }}-">&minus;</button></li>
                    <li><button class="calculator-button calculator-botton-number" name="number" value="{{ result }}1">1</button></li>
                    <li><button class="calculator-button calculator-botton-number" name="number" value="{{ result }}2">2</button></li>
                    <li><button class="calculator-button calculator-botton-number" name="number" value="{{ result }}3">3</button></li>
                    <li><button class="calculator-button calculator-botton-operator" name="operator" value="{{ result }}*">&times;</button></li>
                    <li class="hide"><button class="calculator-button" name="+" value="+">+</button></li>
                    <li><button class="calculator-button calculator-botton-number" name="number" value="{{ result }}0">0</button></li>
                    <li><button class="calculator-button calculator-botton-operator" name="operator" value="{{ result }}=">&equals;</button></li>
                    <li><button class="calculator-button calculator-botton-operator" name="operator" value="{{ result }}/">&divide;</button></li>
                </ul>
            </form>
        </div>
        <div class=footer>Developed by Xinghao Zhou</div>
    </div>
</body>

</html>
